.ingredients {
    max-width: 600px;
}

.ingredients__tabs {
    display: flex;
    flex-direction: row;
}

.ingredients__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}

.ingredients__scroll {
    max-height: 664px;
    overflow-y: scroll;
}

.ingredients__link {
    display: flex;
    flex-direction: column;
    width: 260px;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.ingredients__price {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.ingredients__title {
    text-align: center;
}